/*
.formContainer * {
    border: 1px solid red;
}
*/

.formContainer {
    width: 100%;
    padding: 20px;
}

.formLoginContainer {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.formLoginContainer > div {
    display: flex;
    flex-flow: column nowrap;
}

.formLoginContainer > div label {
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.774);
}

.inputContainerLogin {
    height: 50px;
    padding: 10px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.774);
    background-color: rgba(255, 255, 255, 0.082);
    border: 1px solid rgba(204, 204, 204, 0.493);
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.37);
}

.inputContainerLogin label {
    height: 100%;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(204, 204, 204, 0.493);
}

.inputContainerLogin input {
    width: 100%;

    font-size: 1em;
    font-weight: 300;
    color: rgb(235, 235, 235);
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.774);
    background-color: transparent;
}

.containerBtnEnter {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.containerBtnEnter button {
    height: 50px;
    width: 150px;
    padding: 10px;

    font-size: 1em;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.774);
    background-color: rgb(30, 104, 216);
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.37);
    cursor: pointer;
    opacity: 0.8;

    transition: 0.4s;
}

.containerBtnEnter button:hover {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .containerBtnEnter button {
        width: 100%;
    }
}